body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    margin: 0;
}

/* Mobile */
@media (max-width: 768px) {

    #h1 {
        margin: 0 0 0 0;
    }

    .dashboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        max-width: 95vw;
        height: auto;
        margin: 1em auto;
        padding: 20px;
        overflow-y: scroll;
    }

    .tile {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .loading,
    .error {
        color: #666;
        text-align: center;
        font-style: italic;
    }

    .error {
        color: red;
    }

    .maps {
        justify-content: center;
    }

    .map-iframe-mobile {
        width: 100%;
        min-height: auto;
        margin: 0.25em 0.5em 0 0.5em;
    }

    .map-iframe-desktop {
        display: none;
    }
}

/* Desktop */
@media (min-width: 768px) {

    #h1 {
        margin: 0 0 0 0;
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
        /* For spacing between items */
        max-width: 95vw;
        margin: 1em auto;
        padding: 20px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .dashboard>div {
        flex: 0 0 calc(33.333% - 20px);
        /* Each child takes up a third of the width minus the gap */
        height: calc(50% - 20px);
        /* Assuming you want two rows, each child's height is set to half minus the gap */
        margin-bottom: 20px;
        /* To maintain the gap at the bottom */
        width: 75%;
    }

    .maps {
        justify-content: center;
    }

    .map-iframe-desktop {
        width: 98%;
        height: 90%;
        margin: 0.5em 0.5em 0.5em 0.5em;
    }

    .map-iframe-mobile {
        display: none;
    }
}

/* General Formatting */ 

.tile {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loading,
.error {
    color: #666;
    text-align: center;
    font-style: italic;
}

.error {
    color: red;
}

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 0 0.5em 0;
    background-color: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.dashboard {
    display: none;
}

.wwii-map {
    display: none;
    flex-direction: column;
    justify-content: stretch;
    min-width: 95vw;
    min-height: 90vh;
    margin: 0 0 1em 0;
}

.marine-map {
    display: none;
    min-width: 95vw;
    min-height: 90vh;
    align-items: center;;
}

#marine-map-iframe {
    width: 100%;
    min-height: 100%;
    margin: 0 0.5em 0.5em 0.5em;
}

#welcome {
    text-align: center;
    margin: -6em 0 1em 0;
    padding: 0 0.5em 0 0.5em;
}

#welcome h1 {
    color: black;
    /* As part of the color scheme */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.buttons-map-select {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.btn-generic {
    background-color: red;
    /* Primary button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* Moderately rounded corners */
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Small glow effect */
}

button:disabled {
    background-color: #ccc;
    /* Disabled button color */
    color: #666;
    /* Ddisabled button text color */
}

.back-btn {
    width: 75px;
    height: auto;
    margin: 1em 1em 1em 1em;
    font-size: 15px;
    border: black solid 2px;
    background-color: rgba(0, 0, 0, 0.907);
    color: white;
}

.back-btn-div {
    display: none;
    /* display: block; */
    /* top: -43vh; */
}








/* Animations */

/* Vanish in */
.vanishIn {
    animation-name: vanishIn;
}

@-webkit-keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
}

@keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
}

/* Vanish Out */
.vanishOut {
    animation-name: vanishOut;
}

@-webkit-keyframes vanishOut {
    0% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(20px);
    }
}

@keyframes vanishOut {
    0% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(20px);
    }
}

/* Puff In */
.puffIn {
    animation-name: puffIn;
}

@-webkit-keyframes puffIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(2px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
}

@keyframes puffIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(2px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
}


/* Puff Out */
.puffOut {
  animation-name: puffOut;
}

@-webkit-keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
}

@keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
}





















/* Dropdown Menu */

.dropdown-nav .menu-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.35s ease-out, background 0.5s ease-out;
    transition-delay: 0.1s;
    z-index: 1000;
}

.dropdown-nav .menu-container .burger-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.dropdown-nav .menu-container .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
}

.dropdown-nav .menu-container .burger-container #burger .bar {
    width: 100%;
    height: 3px;
    display: block;
    position: relative;
    background: #FFF;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
}

.dropdown-nav .menu-container .burger-container #burger .bar.topBar {
    transform: translateY(0px) rotate(0deg);
}

.dropdown-nav .menu-container .burger-container #burger .bar.btmBar {
    transform: translateY(6px) rotate(0deg);
}

.dropdown-nav .menu-container .icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    left: 50%;
    transform: translateX(-100%);
}

.dropdown-nav .menu-container .icon.icon-bag {
    right: 0;
    top: 0;
    left: auto;
    transform: translateX(0px);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.65s;
}

.dropdown-nav .menu-container ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    list-style: none;
}

li.menu-item>a:hover {
    color: #2268ff;
}

.menu-item>a:hover {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 1;
    left: 0;
    right: 0;
    border-bottom: 3px solid #2268ff;
}

.dropdown-nav .menu-container ul.menu li.menu-item {
    border-bottom: 1px solid #333;
    margin-top: 5px;
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.dropdown-nav .menu-container ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.49s;
}

.dropdown-nav .menu-container ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.42s;
}

.dropdown-nav .menu-container ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.35s;
}

.dropdown-nav .menu-container ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.28s;
}

.dropdown-nav .menu-container ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #fff;
    font-family: "SF Pro Rounded", "Arial Rounded MT Bold", sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 22px;
    line-height: 2.35;
    font-weight: 200;
    width: 100%;
}

.dropdown-nav .menu-container.menu-opened {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.704);
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
    z-index: 1;
    margin: 0;
}

.dropdown-nav .menu-container.menu-opened .burger-container {
    transform: rotate(90deg);
}

.dropdown-nav .menu-container.menu-opened .burger-container #burger .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.2s;
}

.dropdown-nav .menu-container.menu-opened .burger-container #burger .bar.topBar {
    transform: translateY(6px) rotate(45deg);
}

.dropdown-nav .menu-container.menu-opened .burger-container #burger .bar.btmBar {
    transform: translateY(3px) rotate(-45deg);
}

.dropdown-nav .menu-container.menu-opened ul.menu li.menu-item {
    transform: scale(1) translateY(0px);
    opacity: 1;
}

.dropdown-nav .menu-container.menu-opened ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.27s;
}

.dropdown-nav .menu-container.menu-opened ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.34s;
}

.dropdown-nav .menu-container.menu-opened ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.41s;
}

.dropdown-nav .menu-container.menu-opened ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.48s;
}